#works{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;

}

.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
    margin-top: 3rem;
}

.worksImgcard{
    background: white;
    background-size: cover;
    height: 330px;
    width: 350px;
    margin: 1rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.worksImgcard:hover{
    transform: scale(1.05,1.05);
}

.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.worksBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    background: white;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width:585px) {
    .worksImg{
        height: 48vw;
    }
    
}
@media  screen and (max-width:480px) {
    .worksImgcard{
        height: 250px;
        width: 260px;
    }
}
@media  screen and (max-width:400px) {
    .worksImgcard{
        height: 210px;
        width: 210px;
    }
}
